@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import 'material-icons/iconfont/material-icons.css';

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
